.container {
  :global {
    .ant-select-selector {
      background: transparent !important;
      border: none !important;
      outline: none;
      box-shadow: none !important;
      padding: 0 !important;

      .ant-select-selection-item {
        padding-right: 32.8px;
      }
    }

    .ant-select-arrow {
      right: 8px;
    }
  }
}

.root {
  :global {
    .ant-select-status-error {
      border-color: #ff4d4f !important;
      border-width: 1px;
    }
  }
}
